{% extends "meta.html" %}
{% block menu_itens %}
<!-- itens do menu exclusivos da página inicial com usuário logado-->
    <li class="nav-item">
        <a class="nav-link" href="/perfil">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/auth/logout" title="Clique para sair!"><i class="fa fa-sign-out" aria-hidden="true"> Sair</i></a>
    </li>
{% endblock %}
{% block body_conteudo %}
    {% block conteudo %}
    {% endblock %}
    <div id="voltarTopo">
        <a href="#" id="topo"> <i class="fa fa-chevron-up fa-4x" aria-hidden="false"></i> </a>
    </div>
    <script type="text/javascript" defer="defer" src="{{ url_for('static', filename='js/logged.js') }}"></script>
{% endblock %}