{% extends "header_home.html" %}
{%block conteudo %}
<div id="content_home" class="container bg-white py-5" align="center">
    <div class="row">
        <div class="col-lg-8 col-12">
            <form id="opiniao" action="/opinar" method="POST">
                <div id="post" class="row">
                    <div class="col-2 p-0">
                        <div class="pic-thumbnail">
                            <img class="img-fluid" src="{{ url_for('static', filename='images_app/default-user.png') }}"
                                alt="Foto do usuário">
                        </div>
                    </div>
                    <div class="input-group col-9 p-0">
                            <input type="hidden" name="tipo" value="POST">
                            <div class="col-12">
                                <textarea id="texto" name="texto" class="form-control" style="resize:none;"
                                        placeholder="No quê você está pensando?"></textarea>
                            </div>
                            <div class="col-12" align="right">
                                <button class="btn btn-outline-secondary" type="Submit">
                                    <i class="fa fa-commenting" aria-hidden="true"></i> Peck
                                </button>
                            </div>
                    </div>
                </div>
            </form>
            <hr>
            <div id="time_line">
                <h2>Contos...</h2>
                <hr>
                <div id="tl_content">

                    <!-- PONHA POSTS EM SEU PRÓPRIO TEMPLATE -->
                    {% for p in posts %}
                    <div class="post">
                        <div class="row px-3 pt-3">
                            <div class="pic-thumbnail mx-2">
                                <img class="img-fluid"
                                     src="{{ url_for('static', filename='images_app/default-user.png') }}"
                                     alt="Foto do usuário">
                            </div>
                            <div style="display: none">{{ p.data_post() }}</div>
                            <div align="left">
                                <h4>{{ p.get_dono().nome_real() }}</h4>
                                <h6>@{{ p.get_dono().nome_usuario() }}</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="post-content">
                            <p>{{ p.texto() }}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <hr>
            <div>
                <button id="btn-feed" type="button" class="btn btn-dark">
                    Garregar <i class="fa fa-plus-square-o" aria-hidden="true"></i> conteúdo
                </button>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <h2>Assuntos do momento</h2>
            <hr>
            <div id="trends" align="left">
                <ol class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        #UlyssesReitor
                        <span class="badge badge-gothic badge-pill">1.206</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        #CãoBemArticulado
                        <span class="badge badge-gothic badge-pill">756</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        #AllanDiretor
                        <span class="badge badge-gothic badge-pill">588</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}