{% extends "header_index.html" %}
{%block conteudo %}
<div id="content_index">
    <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-pri">
        <a class="navbar-brand" href="/">Logo</a>
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-white">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">#Explore</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="#trends" aria-label="Search">
                <button type="button" class="btn btn-secondary">Pesquisa</button>
            </form>
        </div>
    </nav>
    <h1>Nevermore</h1>
    {% if user %}
        <p>Bem-Vindo, {{ user }}!</p>
    {% else %}
        <p>Bem-Vindo!</p>
    {% endif %}
</div>
{% endblock %}