<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='images_app/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <title>Nevermore</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body class="bg-ter">
    <header>
        <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-pri">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images_app/logo.png') }}" alt="logo de um corvo" class="img-fluid"  style="max-height: 45px;">
            </a>
            <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-white">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    {% block menu_itens %}
                    {% endblock %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">#Explore</a>
                    </li>
                </ul>
                <form action="/busca" method="get" class="form-inline my-2 my-lg-0">
                    {% if termo %}
                    <input name="termo" id="termo" class="form-control mr-sm-2" type="search" placeholder="#trends" aria-label="Search" value="{{ termo }}">
                    {% else %}
                    <input name="termo" id="termo" class="form-control mr-sm-2" type="search" placeholder="#trends" aria-label="Search">
                    {% endif %}
                    <button type="submit" class="btn btn-secondary">Pesquisa</button>
                </form>
            </div>
        </nav>
    </header>
    {% block body_conteudo %}
    {% endblock %}
    <footer>
        <div class="row mx-0 bg-pri text-white">
            <div class="col-sm-12 col-lg-6 text-center footer-copyright">
                <br><strong><p>&reg;Copyright 2019. Todos direitos reservados.</p></strong>
            </div>
            <div class="col-sm-12 col-lg-6 text-right small pr-4">
                <strong>
                    <p>Desenvolvedores:
                        <br><a href="http://lattes.cnpq.br/2683321092521435" target="blank">Leandro Gomes</a>: leandronascimento@cc.ci.ufpb.br
                        <br><a href="http://lattes.cnpq.br/5516398050336349" target="blank">Victor Koehler</a>: koehlervictor@cc.ci.ufpb.br
                    </p>
                </strong>
            </div>
        </div>
    </footer>
    <script type="text/javascript" defer="defer" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" defer="defer" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>