{% extends "header_home.html" %}
{% block conteudo %}
<div id="content_perfil" class="container bg-white py-5" align="center">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div id="infors_perfil">

                <form id="form-input-img" method="POST" enctype=multipart/form-data>
                    <div class="image-upload">
                        <label for="foto">
                            <img class="img-fluid" src="{{ url_for('foto_perfil', nome_usuario=logged_user.nome_usuario()) }}" alt="Foto do usuário">
                            <div class="imgupldh"><div>Clique para atualizar</div></div>
                        </label>
                    
                        <input id="foto" name="foto" accept="image/png, image/jpeg, image/jpg, image/gif" type="file"/>
                    </div>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/photo.js') }}"></script>
                </form>

                <div align="left">
                    <h4>
                        <button type="button" class="btn" id="user_config" title="Alterar algumas informações"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                        Nome do usuário
                    </h4>
                    <h6>@nickname</h6>
                </div>
                <div align="right">
                    <label>Visibilidade</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-dark btn-sm active" title="Tornar meu perfil público">
                            <input type="radio" name="user_visibilidade" id="publico" autocomplete="off" checked>
                            <i class="fa fa-globe" aria-hidden="true"></i> Público
                        </label>
                        <label class="btn btn-dark btn-sm" title="Tornar meu perfil privado">
                            <input type="radio" name="user_visibilidade" id="privado" autocomplete="off">
                            <i class="fa fa-users" aria-hidden="true"></i> Privado
                        </label>
                    </div>
                </div>
                <div>
                    <br>
                    <textarea id="user_bio" class="form-control" style="resize:none;"
                              placeholder="A biografia do usuário visivel aqui"
                              disabled="disabled"></textarea>
                </div>
            </div>
            <hr>
            <h2>Assuntos do momento</h2>
            <hr>
            <div id="trends" align="left">
                <ol class="list-group">
                    {% if assuntos %}
                    {% for trends in assuntos%}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        #{{ trends.nome }}
                        <span class="badge badge-gothic badge-pill"> {{ trends.quan }} </span>
                    </li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        #Sem momentos
                        <span class="badge badge-gothic badge-pill">00000</span>
                    </li>
                    {% endif %}
                </ol>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div id="post" class="row">
                <div class="col-2 p-0">
                    <div class="pic-thumbnail">
                        <img class="img-fluid" src="{{ url_for('foto_perfil', nome_usuario=logged_user.nome_usuario()) }}"
                             alt="Foto do usuário">
                    </div>
                </div>
                <div class="input-group col-9 p-0">
                    <div class="col-12">
                        <textarea class="form-control" style="resize:none;"
                                  placeholder="No quê você está pensando?"></textarea>
                    </div>
                    <div class="col-12" align="right">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-commenting" aria-hidden="true"></i> Peck
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div id="time_line">
                <h2>Meus Contos...</h2>
                <hr>
                <div id="tl_content">
                    {% if posts %}
                        {% include 'posts.html' %}
                    {% else %}
                        Não possue posts!
                    {% endif %}
                </div>
            </div>
            <hr>
            <div>
                <button id="btn-feed" type="button" class="btn btn-dark">
                    Carregar <i class="fa fa-plus-square-o" aria-hidden="true"></i> conteúdo
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}