{% for pt in posts %}
{% if pt.visivel_para_mim() %}
<div class="post">
    <div class="row px-3 pt-3">
        <div class="pic-thumbnail mx-2">
            <img class="img-fluid"
                 src="{{ url_for('foto_perfil', nome_usuario=pt.get_dono().nome_usuario()) }}"
                 alt="Foto do usuário">
        </div>
        <div align="left">
            <h4>{{ pt.get_dono().nome_real() }}</h4>
            <h6>@{{ pt.get_dono().nome_usuario() }} às {{ pt.data_post() }} demonstrou... </h6>
        </div>
    </div>
    <hr>
    <div class="post-content">
        <p>{{ pt.texto() }}</p>
    </div>
    <div class="accordion" id="accordion_coment{{ pt.id_post() }}">
        <div class="card">
            <div class="card-header py-0" id="heading{{ pt.id_post() }}" align="right">
                <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse{{ pt.id_post() }}"
                        aria-expanded="true" aria-controls="collapse{{ pt.id_post() }}">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i> COMENTÁRIOS
                </button>
            </div>
            <div id="collapse{{ pt.id_post() }}" class="collapse" aria-labelledby="heading{{ pt.id_post() }}"
                 data-parent="#accordion_coment{{ pt.id_post() }}">
                <div class="card-body">
                    <div id="comentarios{{ pt.id_post() }}" align="right">
                    </div>
                    <div class="row">
                        <div class="col-4 p-0">
                            <div class="row">
                                <div class="col-4 px-0">
                                    <div class="pic-thumbnail">
                                        <img class="img-fluid"
                                             src="{{ url_for('foto_perfil', nome_usuario=logged_user.nome_usuario()) }}"
                                             alt="Foto do usuário">
                                    </div>
                                </div>
                                <div class="col-8 px-0" align="left">
                                    <h5>{{ logged_user.nome_real() }}</h5>
                                    <h6>@{{ logged_user.nome_usuario() }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <textarea id="{{ pt.id_post() }}" class="form-control ctpost" style="resize:none;" placeholder="Comente aqui!"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}