
{% include 'notifications.html' %}

<h2>Assuntos do momento</h2>
<hr>
<div id="trends" align="left">
    <ol class="list-group">
        {% if assuntos %}
        {% for trends in assuntos%}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/busca/?termo=%23{{ trends.nome }}">#{{ trends.nome }}</a>
            <span class="badge badge-gothic badge-pill"> {{ trends.quan }} </span>
        </li>
        {% endfor %}
        {% else %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            #Sem momentos
            <span class="badge badge-gothic badge-pill">00000</span>
        </li>
        {% endif %}
    </ol>
</div>